#bar {
  display: flex;
  justify-content: space-between;
  width: 590px;
  margin: 0 auto;
}
#blue {
  transition: all 3s ease;
  width: 100%;
  border-bottom: 20px solid blue;
  border-left: 25px solid transparent
}
#red {
  border-bottom: 20px solid red;
  border-right: 25px solid transparent;
  width: 100%;
}